@{
    ViewData["Title"] = "Home Page";
}

<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Nosotros</h6>
                        <h2>Somos una academia dedicada a la enseñanza práctica y eficaz del idioma</h2>
                    </div>
                    <h5>Nuestros pilares</h5>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="~/images/service-item-01.png" alt="">
                                <h4>Confianza</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="~/images/service-item-01.png" alt="">
                                <h4>Dedicación</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="~/images/contact-info-03.png" alt="">
                                <h4>Respeto</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="~/images/contact-info-03.png" alt="">
                                <h4>Esfuerzo</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-text-content">
                    <p>
                        s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type s
                        <br><br>ly dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry
                        <br><br>ly dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Area Ends ***** -->
<!-- ***** Testimonials Starts ***** -->
<section class="section" id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6>Conocé nuestros profes</h6>
                    <h2>Young and talented members</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="owl-carousel owl-theme">
                    <div class="item author-item">
                        <div class="member-thumb">
                            <img src="~/images/member-item-01.jpg" alt="">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h4>.01 White Cheese</h4>
                        <span>Digital Marketer</span>
                    </div>
                    <div class="item author-item">
                        <div class="member-thumb">
                            <img src="~/images/member-item-04.jpg" alt="">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h4>.02 Snow Mary</h4>
                        <span>Site Analyst</span>
                    </div>
                    <div class="item author-item">
                        <div class="member-thumb">
                            <img src="~/images/member-item-02.jpg" alt="">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h4>.03 Johnny Egg</h4>
                        <span>Digital Influencer</span>
                    </div>
                    <div class="item author-item">
                        <div class="member-thumb">
                            <img src="~/images/member-item-05.jpg" alt="">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h4>.04 Catherine Phyu</h4>
                        <span>Co Founder</span>
                    </div>
                    <div class="item author-item">
                        <div class="member-thumb">
                            <img src="~/images/member-item-03.jpg" alt="">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h4>.05 Shao Lynn</h4>
                        <span>Chief Marketing</span>
                    </div>

                    <div class="item author-item">
                        <div class="member-thumb">
                            <img src="~/images/member-item-04.jpg" alt="">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h4>.06 Emma Honey</h4>
                        <span>Digital Influencer</span>
                    </div>

                    <div class="item author-item">
                        <div class="member-thumb">
                            <img src="~/images/member-item-06.jpg" alt="">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h4>.07 Oliva Sofie</h4>
                        <span>Website Analyst</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Testimonials Ends ***** -->
<!-- ***** Projects Area Starts ***** -->
<section class="section" id="projects">
    <div class="container">
        <div class="row" style="border-bottom: 5px solid #f7f7f7; padding-bottom: 80px;">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h6>Cursos</h6>
                    <h2>Elegí el curso que se adapte a tus necesidades!</h2>
                </div>
                <div class="">
                    <ul style="font-family: Arial; font-size: 15px; color: #5fb759; line-height: 40px">
                        <li >Cursos para niños</li>
                        <li>Cursos para adolescentes</li>
                        <li>Cursos para adultos</li>
                        <li>Mejora tu pronunciacion</li>
                        <li>Elegí tu nivel</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Curso para niños</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                        @* <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>*@
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Curso adolescentes</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                        @* <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>*@
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Curso para adultos</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                        @*<a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Projects Area Ends ***** -->
<!-- ***** Contact Us Area Starts ***** -->
<section class="section" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Contact Us</h6>
                        <h2>No dudes en contactarnos para resolver cualquier duda!</h2>
                    </div>
                    <ul class="contact-info">
                        <li><img src="~/images/contact-info-01.png" alt="">010-020-0860</li>
                        <li><img src="~/images/contact-info-02.png" alt="">info@company.com</li>
                        <li><img src="~/images/contact-info-03.png" alt="">www.company.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="contact-form">
                    <form id="contact" action="EnvioMail" method="POST">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Your Name *" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="phone" type="text" id="phone" placeholder="Your Phone" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="email" type="email" id="email" placeholder="Your Email *" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="subject" type="text" id="subject" placeholder="Subject">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button-icon">Send Message Now <i class="fa fa-arrow-right"></i></button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                     @if (TempData["ok"] != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("Tus datos fueron enviados correctamente");                            
                        };
                    </script>
                }
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Contact Us Area Ends ***** -->
